.text{
    height: 24px;
    display: flex;
    align-items: center;
}

.title{
    display: flex;
    justify-content: space-between;
    align-content: center;
    span{
        line-height: 24px;
    }
    button{
        height: 24px;
    }
}
.formItem{
    margin: 0;
    line-height: 24px;
    height: 24px;
    :global{
        .ant-form-item-control{
            line-height: normal;
        }
    }
    
}

.input{
    height: 24px;
}